[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Freiertag
Icon=/usr/share/icons/hicolor/90x90/apps/Freiertag.png
Exec=Freiertag

